body{
  color: aquamarine;
  background: black ;
  font-family: "Source Code Pro", monospace;
  margin: 0px;
  margin-bottom: 100px;

}




.chamada{
  background: #a6a6c9;
  margin-top: 88px;
  margin-bottom: 88px;
  display: flex;
  justify-content: center;
}

header{
  font-size: 35px;
  color: white ;
  border-bottom: solid 3px white ;
  padding: 20px;

}
h1{
  font-size: 40px
}
.chamada-texto{
  margin-right: 5%;
  
}